##### Question 1

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [10]:
type({'a':[]})

dict

##### Question 2
What data type would best represent the following?
- a. a term or phrase typed into a search box
- b. Whether or not a user is logged in 
- c. A discount amount to apply to a user's shopping cart
- d. Whether or not a coupon code is valid
- e. An email address typed into a registration form
- f. The price of a product
- g. The email addresses collected from a registration form
- h. Information about applicants to Codeup's data science program

###### answers
- a. string
- b. boolean or string (yes/no or true/false)
- c. float
- d. string or boolean (yes/no or true/false)
- e. string
- f. float
- g. list
- h. string

##### Question 3

In [11]:
'1' + 2
# This will not work. It cannot combine int and string.

TypeError: can only concatenate str (not "int") to str

In [12]:
6 % 4
# This is an absolute function so that it will work.

2

In [13]:
type(6 % 4)
# tells what the type of data is

int

In [14]:
type(type(6 % 4))
# first pulls the type of the data and then pulls the function

type

In [17]:
'3 + 4 is ' + 3 + 4
# doesn't work since there are string values and int

TypeError: can only concatenate str (not "int") to str

In [18]:
0 < 0
# Comparaision operator: will come out true or false

False

In [19]:
'False' == False
# string does not equal boolean

False

In [20]:
True == 'True'
# strong does not equal boolean

False

In [21]:
5 >= -5
# comparision operator: 5 is greater than or equal to -5

True

In [22]:
True or "42"
# true or string. Due to logical operator(or) it will show up as True

True

In [23]:
6 % 5
# This will show up as a int

1

In [27]:
5 < 4 and 1 == 1
#False and True: explanation below

False

In [26]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
# True and False: if there is an AND: only return true when all parts True

False

In [28]:
4 >= 0 and 1 !== '1'
# invalid syntax: function won't work without != (copied from exercises)

SyntaxError: invalid syntax (920739153.py, line 1)

In [29]:
6 % 3 == 0
#the absolute value of 6 % 3

True

In [31]:
5 % 2 != 0
# the remainder is 1 which is not equal to 0 so True

True

In [32]:
[1] + 2
# cat combine list with int

TypeError: can only concatenate list (not "int") to list

In [33]:
[1] + [2]
# both are lists, so they can combine

[1, 2]

In [34]:
[1] * 2
# list will get outputted twice

[1, 1]

In [35]:
[1] * [2]
# can't multiply list by list

TypeError: can't multiply sequence by non-int of type 'list'

In [37]:
[] + [] == []
#blank + blank equals blank

True

In [38]:
{} + {}
#dict cant be added to dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

##### Question 6: You have rented some movies for your kids:
- The little Mermaid for 3 days
- Brother bear for 5 days
- Hercules for 1 day <br>
If the daily fee to rent a move is 3 dollars, how much will you have to pay?

In [39]:
the_little_mermaid = 3
brother_bear = 5
herculues = 1 

movie_cost = (the_little_mermaid + brother_bear + herculues) * 3
movie_cost

27

##### Question 5. Suppose you're working as a contractor for three companies:
- Google
- Amazon
- Facebook <br>
They pay you the following hourly rates:
- Google: 400 dollars
- Amazon: 380 dollars
- Facebook: 350 dollars <br>
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.
<br>
How much will you receive in payment for this week?

In [40]:
#variables
google = 400
amazon = 380
facebook = 350

payment =((google * 6) + (amazon * 4) + (facebook * 10))
payment

7420

##### Question 6. 
A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [45]:
# variables
class_size = 31
current_class_size = 27
student_conflict = False

#statment
if current_class_size < class_size and not student_conflict:
        enrolment_status = "A student can enroll in this class"
else:
    enrolment_status = "No student enrollment"

print(enrolment_status)

A student can enroll in this class

##### Question 7. 
A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

##### Question 8.